<div>
  <mat-form-field class="form_field">
    <mat-label>ip address</mat-label>
    <input
      matInput
      type="text"
      [ngModel]="ipAddress"
      (ngModelChange)="valuechange($event)"
      pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$"
    />
    <button
      mat-button
      *ngIf="ipAddress"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="ipAddress = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-card *ngIf="ipInformation">
    <p>
      Continent: {{ ipInformation.continent_name }} ({{
        ipInformation.continent_code
      }})
    </p>
    <p>
      Location:
      {{ ipInformation.city }}, {{ ipInformation.country_name }} ({{
        ipInformation.country_code
      }})
      <img
        class="country_flag"
        src="{{ ipInformation.location.country_flag }}"
      />
    </p>
    <p>Region {{ ipInformation.region_name }}</p>
    <p>
      Location: lat {{ ipInformation.latitude }} lon
      {{ ipInformation.longitude }}
    </p>
  </mat-card>
</div>
